body {
	font-family: Arial, sans-serif;
	background-color: #f2f2f2;
}

h1 {
	text-align: center;
	margin-top: 50px;
	margin-bottom: 30px;
}

form {
	max-width: 500px;
	margin: 0 auto;
	padding: 30px;
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
}

label {
	display: block;
	margin-bottom: 10px;
	font-weight: bold;
}

input[type="number"], button {
	display: block;
	margin-bottom: 20px;
	padding: 10px;
	border: none;
	border-radius: 5px;
	box-shadow: 0px 0px 5px rgba(0,0,0,0.2);
}

button {
	background-color: #0077ff;
	color: #fff;
	font-weight: bold;
	transition: background-color 0.2s
